#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Footer {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Viewmore_btn {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 6px 6px 6px 6px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 10px;
  width: 105px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=62);
  filter: alpha(opacity=62);
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Table_1 {
  border-collapse: separate;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Time-Txt_1 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Views-Txt_1 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Line_2 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(270.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Line_2 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(270.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Cover_Img {
  -pie-background: url('./images/266e9a3f-03a6-4023-b464-991f9aafca96.png') repeat left top scroll, linear-gradient(to right,#E0F0FB,#FFFFFF);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
  filter: alpha(opacity=86);
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Edit_icnname {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Edit_icnusername {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Desc {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-User-Img {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Toolbar-Title {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}