#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Footer {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Viewmore_btn {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=62) ;
  filter: alpha(opacity=62) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Time-Txt_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Views-Txt_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Line_2 {
  rotation: 270.0;
  margin-left: 15px;
  margin-top: -16px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Cover_Img {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86) ;
  filter: alpha(opacity=86) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Edit_icnname {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Edit_icnusername {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Desc {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-User-Img {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Toolbar-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-52833637-c424-4044-b2d2-e09a3deac949 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}