#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Desc_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Title_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Time-Txt_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Views-Txt_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-User-Img_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Desc_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Title_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Time-Txt_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Views-Txt_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-User-Img_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Desc_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Time-Txt_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Views-Txt_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-User-Img_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Desc_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Title_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Time-Txt_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Views-Txt_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-User-Img_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Desc {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Time-Txt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Views-Txt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-User-Img {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-raised_Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-raised_Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-raised_Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-raised_Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Toolbar-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bda30b86-0a7e-41e0-a9fe-abe300d223b2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}